@(title: String)(count: Int)

<!DOCTYPE html>

<html>
<head>
	<title>@title</title>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/jstree-3.0.0/default/style.min.css")" />

	<script src="@routes.Assets.at("javascripts/jstree-3.0.0/libs/jquery.js")"></script>
	<script src="@routes.Assets.at("javascripts/jstree-3.0.0/jstree.min.js")"></script>

	<script src="@routes.Assets.at("javascripts/nxt.js")"></script>

	<script>

	$(document).ready(function() {

		$.getJSON('/tree',
			function(data) {
				renderTree(JSON.parse(data));
			});
	});

</script>

</head>
<body>
<div>
<h4 style="display:inline">Number of messages: <h1 style="display:inline">@count</h1></h4>
</div>
	<div id="chat_tree"></div>
</body>
</html>
